.form {
    background-color: #439a53;
    padding: 1rem;
    width: 20rem;
}

.form p {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 0.05rem;
    font-weight: bold;
    color: rgb(220, 240, 228);
}

.form input,
.form textarea {
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: #7ebc85;
    color: rgb(220, 240, 228);


}